---
layout: default
title: dreaming, living, breathing in code.
---

<span class="weak bottom-offset">code is art, code is beautiful...</span>
<br />
<div class="span-9">
	<span class="big-title">
		Hi. I'm Blake Smith.<br style="margin-bottom: 20px;"/> 
		I write software. <br style="margin-bottom: 20px;"/>
		I'm a free and open source software enthusiast.<br style="margin-bottom: 20px;"/>
	</span>

	<div class="call-to-action">
		<h1>check out my:</h1>
		<ul>
			<li><a href="/resume.html">résumé</a></li>
			<li><a href="http://github.com/blakesmith">code</a></li>
		</ul>
	</div>
</div>

<div class="front-image span-9 last">
	<img src="/images/chicago_bridge_bw.jpg">
</div>

<br style="margin-bottom: 10px;"/>
<h3>stray thoughts</h3>
<ul class="posts">
  {% for post in paginator.posts %}
    <li><span class="weak">
      {{ post.date | date_to_string }}
      </span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>


<!-- Pagination -->
{% if paginator.previous_page == 1 %}
	<a class="semi-weak" href="/">&laquo; fresh thoughts</a>
{% endif %}
{% if paginator.previous_page > 1 %}
	<a class="semi-weak" href="/page{{ paginator.previous_page }}">&laquo; fresh thoughts</a>
{% endif %}
{% if paginator.next_page <= paginator.total_pages %}
	<a class="semi-weak" href="/page{{ paginator.next_page }}">stale thoughts &raquo;</a>
{% endif %}
