<div id="resume_header">
	<div id="resume_title">Blake Smith</div>
	Email: <a href="mailto:blakesmith0@gmail.com">blakesmith0@gmail.com</a><br />
	Website: <a href="http://blakesmith.me">http://blakesmith.me</a><br />
	Public Code Repository: <a href="http://github.com/blakesmith">http://github.com/blakesmith</a><br />
	Phone: 847.305.1337<br />
</div>

<h3 class="resume-header">Open Source</h3>
<ul>
	<li><a href="http://github.com/blakesmith/metra_schedule">Wrote a Ruby schedule scraper and object library for the Chicago Metra train system</a></li>
	<li><a href="http://github.com/blakesmith/djmpc">Designed/Wrote an ncurses client for Music Player Daemon in Python</a></li>
	<li><a href="http://github.com/blakesmith/cuesite">Proof of concept Rails application for parsing, storing and viewing audio cuesheets</a></li>
	<li><a href="http://github.com/blakesmith/twirssi">Submitted patches to twirssi, a Twitter client written in Perl for irssi</a></li>
	<li><a href="http://github.com/blakesmith/libtwit">Built a Twitter library in C based on libxml and libcurl</a></li>
</ul>

<h3 class="resume-header">Past Projects</h3>

<blockquote>
	<strong>Work</strong>
	<ul>
		<li>WOPR: Internal project tracking system (Ruby on Rails)</li>
		<li>OpenExchange: Investor relations video chatting portal (Ruby on Rails)</li>
		<li>RapidReporting Platform/Revere: Mortgage reporting application (Ruby on Rails) </li>
	</ul>
</blockquote>

<blockquote>
	<strong>Personal</strong>
	<ul>
		<li><a href="http://metra.blakesmith.me">iPhone Metra: mobile iPhone application for Chicago Metra train schedules (Ruby on Rails)</a></li>
		<li><a href="http://anyaofficial.com">An-Ya Official: Pop artist An-Ya official website (PHP)</a></li>
		<li><a href="http://destinationlakezurich.com">Lake Zurich Revitalization: City of Lake Zurich reconstruction website (Django)</a></li>
		<li>Purdue Skydiving: Purdue Sport Parachute Club website (Django)</li>
	</ul>
</blockquote>

<h3 class="resume-header">Practices</h3>
<ul>
	<li>Agile Development</li>
	<li>Test Driven Development</li>
	<li>Pair Programming</li>
</ul>

<h3 class="resume-header">Work Experience</h3>
<blockquote>
	<strong>Software Engineer</strong><br />
	Groupon - (Summer 2010 - Present)<br />
</blockquote>

<blockquote>
	<strong>Software Developer</strong><br />
	NVISIA, Chicago, IL - (Fall 2009 - Summer 2010)<br />
	<ul>
		<li>Build call center prototype (Spring/Jquery)</li>
		<li>Implement Java web applications on Tomcat and Jboss</li>
	</ul>
</blockquote>

<blockquote>
	<strong>Software Developer</strong><br />
	Pathfinder Development, Chicago, IL - (Summer 2009 - Fall 2009)<br />
	<ul>
		<li>Give Brown Bag presentation on using Git and common workflows and common pitfalls</li>
		<li>Pair programming on all applications</li>
		<li>Test Driven Development, including: Cucumber, RSpec, Shoulda, BlueRidge</li>
		<li>Assist in iPhone initiative. Cocoa/iPhone application development</li>
		<li>Raise test coverage on older rescue projects</li>
		<li>Setup continuous integration build server for Rails projects</li>
		<li>Spearhead upgrading projects to new versions of Rails</li>
		<li>Old code review: Fix dead code and obsolete tests</li>
	</ul>
</blockquote>

<blockquote>
	<strong>Java Tutor</strong><br />
	Self Employed, West Lafayette, IN - (Winter 2009 - Spring 2009)<br />
	<ul>
		<li>Teach fundamental computer science theory</li>
		<li>Emphasize object oriented design and good coding practice</li>
		<li>Teach flow control and logic skills</li>
	</ul>
</blockquote>

<blockquote>
	<strong>IT Intern</strong><br />
	Pepper Construction Company, Barrington, IL - (Summer 2008)<br />
	<ul>
		<li>Develop automated scripting solutions for network upgrades</li>
		<li>Provide first level help desk support</li>
		<li>Deploy and maintain end-user workstations</li>
	</ul>
</blockquote>

<h3 class="resume-header">Technical Skills</h3>
<ul>
	<li>Unix/Linux</li>
	<li>Oracle/MySQL</li>
	<li>Python/Django</li>
	<li>Ruby/Ruby on Rails</li>
	<li>Java</li>
	<li>Javascript (JQuery, Prototype)</li>
	<li>C</li>
	<li>Flash/Flex/ActionScript</li>
	<li>PHP</li>
</ul>

<h3 class="resume-header">Education</h3>
<ul>
	<li>Purdue University, West Lafayette, IN</li>
	<li>Bachelor of Science, Management, May 2009</li>
	<li>Major: Business Management</li>
	<li>Minors: Management of Information Systems, Information Technology</li>
</ul>
