<div id="resume_header">
	<div id="resume_title">Blake Smith</div>
	Email: <a href="mailto:blakesmith0@gmail.com">blakesmith0@gmail.com</a><br />
	Website: <a href="http://blakesmith.me">http://blakesmith.me</a><br />
	Github: <a href="http://github.com/blakesmith">http://github.com/blakesmith</a><br />
	Phone: 847.305.1337<br />
</div>

<h3 class="resume-header">Open Source</h3>
<blockquote>
	<ul>
		<strong>Rubygems</strong>
		<li><a href="http://github.com/blakesmith/flamethrower">Flamethrower: IRC to Campfire Eventmachine based chat gateway</a></li>
		<li><a href="http://github.com/blakesmith/skeeter">Skeeter: Non-blocking web application that converts images to ASCII art with ZeroMQ</a></li>
		<li><a href="http://github.com/blakesmith/rubycue">Rubycue: Pure Ruby cuesheet parser</a></li>

	</ul>
</blockquote>
<blockquote>
	<ul>
		<strong>Other</strong>
		<li><a href="http://github.com/blakesmith/metra_schedule">Metra Schedule: A Ruby schedule scraper and object library for the Chicago Metra train system</a></li>
		<li><a href="http://github.com/blakesmith/djmpc">djmpc: ncurses client for Music Player Daemon in Python</a></li>
		<li><a href="http://github.com/blakesmith/libtwit">libtwit: Built a Twitter library in C based on libxml and libcurl</a></li>
	</ul>
</blockquote>

<h3 class="resume-header">Past Projects</h3>

<blockquote>
	<strong>Work</strong>
	<ul>
		<li>Groupon web and API</li>
		<li>WOPR: Internal project tracking system (Ruby on Rails)</li>
		<li>OpenExchange: Investor relations video chatting portal (Ruby on Rails)</li>
		<li>RapidReporting Platform/Revere: Mortgage reporting application (Ruby on Rails) </li>
	</ul>
</blockquote>

<blockquote>
	<strong>Personal</strong>
	<ul>
		<li><a href="http://metra.blakesmith.me">iPhone Metra: mobile iPhone application for Chicago Metra train schedules (Ruby on Rails)</a></li>
		<li><a href="http://destinationlakezurich.com">Lake Zurich Revitalization: City of Lake Zurich reconstruction website (Django)</a></li>
		<li>An-Ya Official: Pop artist An-Ya official website (PHP)</li>
		<li>Purdue Skydiving: Purdue Sport Parachute Club website (Django)</li>
	</ul>
</blockquote>

<h3 class="resume-header">Practices</h3>
<ul>
	<li>Agile Development</li>
	<li>Test Driven Development</li>
	<li>Pair Programming</li>
</ul>

<h3 class="resume-header">Work Experience</h3>
<blockquote>
	<strong>Software Engineer</strong><br />
	Groupon - (Summer 2010 - Present)<br />
	<ul>
		<li>Build the public API consumed by all official mobile applications as well as affiliate partners</li>
		<li>Add scalability and caching strategies for high API throughput</li>
		<li>Build and integrate with Urbanairship for iPhone push notifications</li>
		<li>Took our batch ordering system and made it support &lt; 5 second SLA for Groupon NOW realtime credit card processing</li>
		<li>Increase background job processing throughput with Resque and Redis</li>
		<li>Give Brown Bag presentation on Groupon API usage, Mongrel web server internals, and ZeroMQ</li>
	</ul>
</blockquote>

<blockquote>
	<strong>Software Developer</strong><br />
	NVISIA, Chicago, IL - (Fall 2009 - Summer 2010)<br />
	<ul>
		<li>Build call center prototype (Spring/Jquery)</li>
		<li>Implement Java web applications on Tomcat and Jboss</li>
	</ul>
</blockquote>

<blockquote>
	<strong>Software Developer</strong><br />
	Pathfinder Development, Chicago, IL - (Summer 2009 - Fall 2009)<br />
	<ul>
		<li>Give Brown Bag presentation on using Git and common workflows and common pitfalls</li>
		<li>Pair programming on all applications</li>
		<li>Test Driven Development, including: Cucumber, RSpec, Shoulda, BlueRidge</li>
		<li>Assist in iPhone initiative. Cocoa/iPhone application development</li>
		<li>Raise test coverage on older rescue projects</li>
		<li>Setup continuous integration build server for Rails projects</li>
		<li>Spearhead upgrading projects to new versions of Rails</li>
		<li>Old code review: Fix dead code and obsolete tests</li>
	</ul>
</blockquote>

<blockquote>
	<strong>Java Tutor</strong><br />
	Self Employed, West Lafayette, IN - (Winter 2009 - Spring 2009)<br />
	<ul>
		<li>Teach fundamental computer science theory</li>
		<li>Emphasize object oriented design and good coding practice</li>
		<li>Teach flow control and logic skills</li>
	</ul>
</blockquote>

<h3 class="resume-header">Technical Skills</h3>
<ul>
	<li>Unix/Linux</li>
	<li>MySQL/Postgres</li>
	<li>Redis/Resque</li>
	<li>Python/Django</li>
	<li>Ruby/Ruby on Rails</li>
	<li>Java</li>
	<li>Javascript (JQuery, Prototype)</li>
	<li>C</li>
	<li>Flash/Flex/ActionScript</li>
	<li>PHP</li>
</ul>

<h3 class="resume-header">Education</h3>
<ul>
	<li>Purdue University, West Lafayette, IN</li>
	<li>Bachelor of Science, Management, May 2009</li>
	<li>Major: Business Management</li>
	<li>Minors: Management of Information Systems, Information Technology</li>
</ul>
