---
layout: page
title: stray thoughts
---


<link rel="stylesheet" href="/stylesheets/blog.css" type="text/css" />

<ul class="blog-posts">
  {% for post in paginator.posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a><br />
        <div class="weak blog-date">{{ post.date | date_to_string }}</div> 
	<div class="blog-body">
	    {{ post.content | strip_html | truncatewords: 100 }}...
	</div>
	<a style="margin-top: 10px;" href="{{ post.url }}">Read more.</a>
   </li>
   <hr style="background-color: #BBB;">
  {% endfor %}
</ul>


<!-- Pagination -->
{% if paginator.previous_page == 1 %}
	<a class="semi-weak" href="/blog">&laquo; fresh thoughts</a>
{% endif %}
{% if paginator.previous_page > 1 %}
	<a class="semi-weak" href="/blog/page{{ paginator.previous_page }}">&laquo; fresh thoughts</a>
{% endif %}
{% if paginator.next_page <= paginator.total_pages %}
	<a class="semi-weak" href="/blog/page{{ paginator.next_page }}">stale thoughts &raquo;</a>
{% endif %}
<br />
