body {
	color: #222;
	background-color: #AAA;
}

h1 {
	color: #999;
}

h2 {
	color: #DDD;
}
#main {
	margin-top: 30px;
}

#top {
	background-color: #222;
}
#content {
	position: relative;
	bottom: 8px;
	font-family:helvetica,arial,clean,sans-serif;
}

#content_body {
	background-color: #DDD;
	padding-bottom: 20px;
	padding-top: 40px;
}

#menu {
	background-color: #BBB;
	position: relative;
	top: 0;
}

#menu li {
}

#menu li:hover {
	background-color: #AAA;
}
