body {
	color: #222;
	background-color: #AAA;
}

h1 {
	color: #999;
}

h2 {
	color: #DDD;
}

h3 {
	color: #222
}

pre {
	background-color: #EEE;
	border: 1px dotted #BBB;
}
#main {
	margin-top: 30px;
}

#top {
	background-color: #222;
}

#content {
	position: relative;
	bottom: 8px;
	font-family:helvetica,arial,clean,sans-serif;
}

#content_body {
	background-color: #DDD;
	padding-bottom: 20px;
	padding-top: 40px;
}

#menu {
	background-color: #BBB;
	position: relative;
	top: 0;
}

#menu ul {
	list-style-type: none;
}

#menu li {
	background-image: url('/images/arrow.gif');
	background-repeat: no-repeat;
	background-position: 0 7px;
	padding-left: 10px;
}

#menu li:hover {
	background-color: #AAA;
}

#menu li a {
	display: block;
}

.date {
	font-size: 9px;
	font-family: Monaco,"Courier New",monospace;
	color: #667;
	margin-bottom: 10px;
}

.weak {
	color: #666;
}

.semi-weak {
	color: #444;
}

.bottom-offset {
	position: relative;
	bottom: 15px;
}

.big-title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
}

.front-image {
	-moz-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);

}

.call-to-action {
	text-align: center;
	background-color: #EEE;
	margin-top: 10px;
}

.call-to-action ul {
	list-style-type: none;
}

.call-to-action a {
	text-decoration: none;
	font-size: 28px;
	display: block;
	color: #422;
}

.call-to-action li:hover {
	background-color: #DDD;
}
