<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - {{ site.title }}</title>
   <meta name="author" content="Blake Smith" />
   <meta name="keywords" content="web development, software development, ruby, rails, tdd, blake smith" />
   <meta name="description" content="Software development. Musings and thoughts on software." />
 
   <link rel="stylesheet" href="stylesheets/syntax.css" type="text/css" />
   <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="stylesheets/default.css" type="text/css" media="screen, projection" />

</head>
<body>
	<div class="container">
		<h1>{{ site.title }}</h1>
		<h2>{{ site.subtitle }}</h2>
		<h3>{{ page.title }}</h3>
		{{ content }}
	</div>
</body>
</html>
